Repository rustyscreeps/screeps-game-api, pull requests merged in 2018-09, with the labels that each got.

#33 Configurable deployment modes
  cargo-screeps/Cargo.toml
  cargo-screeps/src/build.rs
  cargo-screeps/src/config.rs
  cargo-screeps/src/copy.rs
  cargo-screeps/src/main.rs
  cargo-screeps/src/orientation.rs
  cargo-screeps/src/run.rs
  cargo-screeps/src/setup.rs
  cargo-screeps/src/upload.rs
  screeps-defaults.toml
Labels: A-cargo-screeps, C-enhancement

#36 raw_memory improvements
  screeps-game-api/src/raw_memory.rs
Labels: A-screeps-game-api

#43 Remove js_unwrap_array!
  screeps-game-api/src/macros.rs
  screeps-game-api/src/objects/impls/mod.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/objects/impls/utils.rs
Labels: A-screeps-game-api, C-cleanup

#42 Update README for cargo-screeps 0.2.0
  README.md
  cargo-screeps/README.md
Labels: A-cargo-screeps

#44 Add some more comments to PathFinder bindings.
  screeps-game-api/src/pathfinder.rs
Labels: A-screeps-game-api

#38 Implement various methods.
  screeps-game-api/javascript/utils.js
  screeps-game-api/src/constants.rs
  screeps-game-api/src/game.rs
  screeps-game-api/src/lib.rs
  screeps-game-api/src/macros.rs
  screeps-game-api/src/objects/impls/creep.rs
  screeps-game-api/src/objects/impls/flag.rs
  screeps-game-api/src/objects/impls/mineral.rs
  screeps-game-api/src/objects/impls/mod.rs
  screeps-game-api/src/objects/impls/nuke.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/objects/impls/structure_controller.rs
  screeps-game-api/src/objects/impls/structure_keeper_lair.rs
  screeps-game-api/src/objects/impls/structure_lab.rs
  screeps-game-api/src/objects/impls/structure_link.rs
  screeps-game-api/src/objects/impls/structure_nuker.rs
  screeps-game-api/src/objects/impls/structure_observer.rs
  screeps-game-api/src/objects/impls/structure_portal.rs
  screeps-game-api/src/objects/impls/structure_power_bank.rs
  screeps-game-api/src/objects/impls/structure_power_spawn.rs
  screeps-game-api/src/objects/impls/structure_rampart.rs
  screeps-game-api/src/objects/impls/structure_spawn.rs
  screeps-game-api/src/objects/impls/structure_terminal.rs
  screeps-game-api/src/objects/impls/structure_tower.rs
  screeps-game-api/src/objects/mod.rs
Labels: A-screeps-game-api

#48 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: C-cleanup

#53 Implements Room.findPath()
  screeps-game-api/src/constants.rs
  screeps-game-api/src/objects/impls/mod.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/mod.rs
Labels: A-screeps-game-api

#45 Switch `TryFrom` implementations to type check and add ExpectedType traits for non-typechecking conversions
  .travis.yml
  appveyor.yml
  screeps-game-api/Cargo.toml
  screeps-game-api/src/constants.rs
  screeps-game-api/src/game.rs
  screeps-game-api/src/lib.rs
  screeps-game-api/src/macros.rs
  screeps-game-api/src/memory.rs
  screeps-game-api/src/objects/impls/construction_site.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/objects/impls/structure_portal.rs
  screeps-game-api/src/objects/impls/structure_spawn.rs
  screeps-game-api/src/objects/mod.rs
  screeps-game-api/src/objects/structure.rs
  screeps-game-api/src/pathfinder.rs
  screeps-game-api/src/positions.rs
  screeps-game-api/src/traits.rs
Labels: A-screeps-game-api, C-enhancement

#40 Format code with latest rustfmt
  cargo-screeps/Cargo.toml
  screeps-game-api/Cargo.toml
  screeps-game-api/src/game.rs
  screeps-game-api/src/lib.rs
  screeps-game-api/src/macros.rs
  screeps-game-api/src/memory.rs
  screeps-game-api/src/objects/impls/construction_site.rs
  screeps-game-api/src/objects/impls/creep.rs
  screeps-game-api/src/objects/impls/flag.rs
  screeps-game-api/src/objects/impls/mod.rs
  screeps-game-api/src/objects/impls/nuke.rs
  screeps-game-api/src/objects/impls/resource.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/objects/impls/source.rs
  screeps-game-api/src/objects/impls/structure_controller.rs
  screeps-game-api/src/objects/impls/structure_lab.rs
  screeps-game-api/src/objects/impls/structure_link.rs
  screeps-game-api/src/objects/impls/structure_observer.rs
  screeps-game-api/src/objects/impls/structure_portal.rs
  screeps-game-api/src/objects/impls/structure_power_spawn.rs
  screeps-game-api/src/objects/impls/structure_rampart.rs
  screeps-game-api/src/objects/impls/structure_spawn.rs
  screeps-game-api/src/objects/impls/structure_terminal.rs
  screeps-game-api/src/objects/impls/structure_tower.rs
  screeps-game-api/src/objects/impls/tombstone.rs
  screeps-game-api/src/objects/mod.rs
  screeps-game-api/src/pathfinder.rs
  screeps-game-api/src/raw_memory.rs
Labels: A-screeps-game-api, C-cleanup

#49 Use a new 'use' style
  CONTRIBUTING.md
  screeps-game-api/src/constants.rs
  screeps-game-api/src/game.rs
  screeps-game-api/src/lib.rs
  screeps-game-api/src/memory.rs
  screeps-game-api/src/objects/impls/construction_site.rs
  screeps-game-api/src/objects/impls/creep.rs
  screeps-game-api/src/objects/impls/flag.rs
  screeps-game-api/src/objects/impls/mineral.rs
  screeps-game-api/src/objects/impls/nuke.rs
  screeps-game-api/src/objects/impls/resource.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/objects/impls/structure_controller.rs
  screeps-game-api/src/objects/impls/structure_keeper_lair.rs
  screeps-game-api/src/objects/impls/structure_lab.rs
  screeps-game-api/src/objects/impls/structure_link.rs
  screeps-game-api/src/objects/impls/structure_nuker.rs
  screeps-game-api/src/objects/impls/structure_observer.rs
  screeps-game-api/src/objects/impls/structure_portal.rs
  screeps-game-api/src/objects/impls/structure_power_bank.rs
  screeps-game-api/src/objects/impls/structure_power_spawn.rs
  screeps-game-api/src/objects/impls/structure_rampart.rs
  screeps-game-api/src/objects/impls/structure_spawn.rs
  screeps-game-api/src/objects/impls/structure_terminal.rs
  screeps-game-api/src/objects/impls/structure_tower.rs
  screeps-game-api/src/objects/mod.rs
  screeps-game-api/src/objects/structure.rs
  screeps-game-api/src/pathfinder.rs
  screeps-game-api/src/positions.rs
Labels: C-cleanup

#68 Release screeps-game-api 0.2.0
  screeps-game-api/Cargo.toml
Labels: A-screeps-game-api

#69 Implement Serialize and Deserialize for all constant structs.
  screeps-game-api/Cargo.toml
  screeps-game-api/src/constants.rs
  screeps-game-api/src/macros.rs
Labels: A-screeps-game-api, C-enhancement
