Repository rustyscreeps/screeps-game-api, pull requests merged in 2018-10, with the labels that each got.

#71 September 2018 game update
  screeps-game-api/Cargo.toml
  screeps-game-api/javascript/utils.js
  screeps-game-api/src/constants.rs
  screeps-game-api/src/game.rs
  screeps-game-api/src/lib.rs
  screeps-game-api/src/macros.rs
  screeps-game-api/src/objects/impls/mod.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/objects/impls/room_terrain.rs
  screeps-game-api/src/objects/impls/structure_lab.rs
  screeps-game-api/src/objects/mod.rs
Labels: A-screeps-game-api, C-enhancement

#75 Update cargo-screeps to latest cargo-web format
  cargo-screeps/src/build.rs
Labels: A-cargo-screeps

#83 Use consistent integer types, preferring u32 where nonnegative
  screeps-game-api/src/constants.rs
  screeps-game-api/src/macros.rs
  screeps-game-api/src/objects/impls/construction_site.rs
  screeps-game-api/src/objects/impls/creep.rs
  screeps-game-api/src/objects/impls/flag.rs
  screeps-game-api/src/objects/impls/resource.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/objects/impls/structure_spawn.rs
  screeps-game-api/src/objects/mod.rs
  screeps-game-api/src/pathfinder.rs
  screeps-game-api/src/raw_memory.rs
Labels: A-screeps-game-api, C-cleanup

#82 Remove StructureSpawn::{energy, energy_capacity}
  screeps-game-api/src/objects/impls/structure_spawn.rs
Labels: A-screeps-game-api, C-cleanup

#80 move_to_xy_options and move_to_options
  screeps-game-api/src/objects/impls/creep.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/positions.rs
Labels: A-screeps-game-api, C-enhancement

#76 findRoute and findExit callback implementations
  screeps-game-api/src/constants.rs
  screeps-game-api/src/game.rs
Labels: A-screeps-game-api, C-enhancement

#90 Release cargo-screeps 0.2.1.
  cargo-screeps/Cargo.toml
Labels: A-cargo-screeps

#92 Fix JavaScript code in StructureSpawn methods
  screeps-game-api/src/objects/impls/structure_spawn.rs
Labels: A-screeps-game-api, C-bug

#91 Update cargo-screeps to reqwest 0.9.0
  cargo-screeps/Cargo.toml
  cargo-screeps/src/upload.rs
Labels: A-cargo-screeps
