Repository rustyscreeps/screeps-game-api, pull requests merged in 2019-07, with the labels that each got.

#157 Fix flag creation result interpretation.
  screeps-game-api/src/constants.rs
  screeps-game-api/src/objects/impls/flag.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
Labels: A-screeps-game-api, C-bug

#160 Add a method to stop tracking a RawMemory segment using `drop_segment`.
  screeps-game-api/src/raw_memory.rs
Labels: A-screeps-game-api, C-enhancement

#162 Make many StructureController properties Option<u32>.
  screeps-game-api/src/objects/impls/structure_controller.rs
Labels: A-screeps-game-api, C-bug

#161 Update screeps-game-api to Rust 2018.
  cargo-screeps/Cargo.toml
  cargo-screeps/src/build.rs
  cargo-screeps/src/copy.rs
  cargo-screeps/src/orientation.rs
  cargo-screeps/src/run.rs
  cargo-screeps/src/upload.rs
  screeps-game-api/Cargo.toml
  screeps-game-api/rustfmt.toml
  screeps-game-api/src/constants.rs
  screeps-game-api/src/game.rs
  screeps-game-api/src/js_collections/js_vec.rs
  screeps-game-api/src/lib.rs
  screeps-game-api/src/macros.rs
  screeps-game-api/src/memory.rs
  screeps-game-api/src/objects/impls/construction_site.rs
  screeps-game-api/src/objects/impls/container.rs
  screeps-game-api/src/objects/impls/creep.rs
  screeps-game-api/src/objects/impls/flag.rs
  screeps-game-api/src/objects/impls/mineral.rs
  screeps-game-api/src/objects/impls/nuke.rs
  screeps-game-api/src/objects/impls/resource.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/impls/room_position.rs
  screeps-game-api/src/objects/impls/room_terrain.rs
  screeps-game-api/src/objects/impls/source.rs
  screeps-game-api/src/objects/impls/structure_controller.rs
  screeps-game-api/src/objects/impls/structure_keeper_lair.rs
  screeps-game-api/src/objects/impls/structure_lab.rs
  screeps-game-api/src/objects/impls/structure_link.rs
  screeps-game-api/src/objects/impls/structure_nuker.rs
  screeps-game-api/src/objects/impls/structure_observer.rs
  screeps-game-api/src/objects/impls/structure_portal.rs
  screeps-game-api/src/objects/impls/structure_power_bank.rs
  screeps-game-api/src/objects/impls/structure_power_spawn.rs
  screeps-game-api/src/objects/impls/structure_rampart.rs
  screeps-game-api/src/objects/impls/structure_spawn.rs
  screeps-game-api/src/objects/impls/structure_terminal.rs
  screeps-game-api/src/objects/impls/structure_tower.rs
  screeps-game-api/src/objects/impls/tombstone.rs
  screeps-game-api/src/objects/mod.rs
  screeps-game-api/src/objects/structure.rs
  screeps-game-api/src/pathfinder.rs
  screeps-game-api/src/positions.rs
  screeps-game-api/src/raw_memory.rs
  screeps-game-api/src/traits.rs
Labels: A-screeps-game-api, C-cleanup

#166 Use serde_repr crate!
  screeps-game-api/Cargo.toml
  screeps-game-api/src/constants.rs
  screeps-game-api/src/macros.rs
  screeps-game-api/src/objects/impls/room.rs
Labels: A-screeps-game-api, C-cleanup

#163 Add interface to InterShardMemory.
  screeps-game-api/src/inter_shard_memory.rs
  screeps-game-api/src/lib.rs
Labels: A-screeps-game-api, C-enhancement

#168 Add some Display implementations for local values
  screeps-game-api/src/constants.rs
  screeps-game-api/src/positions.rs
Labels: A-screeps-game-api, C-enhancement

#169 Change MemoryReference::{get,get_path} to return Option
  screeps-game-api/src/memory.rs
Labels: A-screeps-game-api, C-enhancement

#173 Fix a few getters missing str_to_num conversions
  screeps-game-api/src/objects/impls/construction_site.rs
  screeps-game-api/src/objects/impls/mineral.rs
  screeps-game-api/src/objects/impls/structure_lab.rs
Labels: A-screeps-game-api, C-bug

#171 Improve LocalRoomPosition's Serialize/Deserialize impls and add js_serializable! call
  screeps-game-api/src/memory.rs
  screeps-game-api/src/positions.rs
Labels: A-screeps-game-api, C-enhancement

#164 Constants overhaul
  screeps-game-api/Cargo.toml
  screeps-game-api/javascript/utils.js
  screeps-game-api/src/constants.rs
  screeps-game-api/src/game.rs
  screeps-game-api/src/macros.rs
  screeps-game-api/src/objects/impls/flag.rs
  screeps-game-api/src/objects/impls/room.rs
  screeps-game-api/src/objects/mod.rs
  screeps-game-api/src/objects/structure.rs
Labels: A-screeps-game-api, C-enhancement

#174 Some small doc fixes + formatting
  screeps-game-api/src/inter_shard_memory.rs
  screeps-game-api/src/memory.rs
  screeps-game-api/src/objects/structure.rs
Labels: A-screeps-game-api, C-cleanup

#175 Utilize 'Look' constant when reading look* results
  screeps-game-api/javascript/utils.js
  screeps-game-api/src/objects/impls/room.rs
Labels: A-screeps-game-api, C-cleanup

#176 Release screeps-game-api 0.5.0
  screeps-game-api/CHANGELOG.md
  screeps-game-api/Cargo.toml
Labels: A-screeps-game-api

#178 Update dependencies & fix warnings
  screeps-game-api/Cargo.toml
  screeps-game-api/src/positions.rs
Labels: A-screeps-game-api, C-cleanup

#179 Change some prices types to correct f64
  screeps-game-api/src/game.rs
Labels: A-screeps-game-api

#180 Remove workspace
  .gitignore
  Cargo.toml
Labels: A-cargo-screeps, A-screeps-game-api, C-cleanup

#182 Update cargo-screeps to more 2018 idioms and reformat
  cargo-screeps/Cargo.toml
  cargo-screeps/rustfmt.toml
  cargo-screeps/src/build.rs
  cargo-screeps/src/config.rs
  cargo-screeps/src/copy.rs
  cargo-screeps/src/main.rs
  cargo-screeps/src/orientation.rs
  cargo-screeps/src/run.rs
  cargo-screeps/src/setup.rs
  cargo-screeps/src/upload.rs
Labels: A-cargo-screeps, C-cleanup

#184 Add a changelog to cargo-screeps
  cargo-screeps/CHANGELOG.md
Labels: A-cargo-screeps, C-cleanup

#183 Depend directly on cargo-web
  .travis.yml
  README.md
  cargo-screeps/Cargo.toml
  cargo-screeps/README.md
  cargo-screeps/src/build.rs
  cargo-screeps/src/upload.rs
Labels: A-cargo-screeps, C-cleanup

#187 Fix travis-ci configuration
  .travis.yml
Labels: C-bug

#188 Add logo to README
  README.md
  logo.png
Labels: C-enhancement

#189 Handle structure.my === undefined
  src/objects/mod.rs
Labels: C-bug

#190 Make StructurePortal not OwnedStructure
  src/objects/mod.rs
  src/objects/structure.rs
Labels: C-bug

#194 Add a way to retrieve both keys and values of game objects
  src/game.rs
  src/game/cpu.rs
  src/game/gcl.rs
  src/game/map.rs
  src/game/market.rs
  src/game/shards.rs
  src/js_collections.rs
  src/macros.rs
  src/objects.rs
  src/objects/impls.rs
Labels: C-enhancement

#193 Build on stable rust, and remove multiple OS CI
  .travis.yml
  appveyor.yml
Labels: C-cleanup
